/* :host {
    margin: 2px;
    border-radius: 5px;
    border: 1px solid #000000;
    display: block;
} */

.crop-image{
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
    img{
        top: 50%;
        left: 50%;
        transform: translate(0%, 0%);
        max-width: 100%;
    }
}